__pycache__/
.pytest_cache/
.mypy_cache/
*.py[cod]
*.png
*.h5
*.pt
*.log
**/results*
**/images
**/images/
**/data_base
**/data_base/
Cylinder/torch_solver_not_working/*
SOD_shock_tube/experiments_ant_check_code.py
training/logs/
training/state/
training/*.sh
PLAN.md
